* {
  font-family: monospace;
}
body {
  background-color: #000;
}
header, footer {
  Background-color: #216430;
  background-image: url("https://c1.staticflickr.com/4/3863/31976451233_0d4c6ad586_k.jpg");
  background-size: cover;
  margin: -16px -8px 0px -8px;
  color: #fff;
  text-shadow: 3px 2px 0px #000;
  padding: 25px;
}
header {
  font-size: 30px;
  background-position: center, center;
}
.bio, .edu, .goal, .work, .top10 {
  background-color: #092415;
  color: #fff;
  margin: 10px auto 10px auto;
  padding: 10px;
}
footer {
  background-position: bottom, center;
}
.top10 {
  margin-bottom: 25px;
}
